<!-- <nb-layout>
    <nb-layout-header fixed>
      <a [routerLink]="['/admin/dashboard']">
        Courteville Business Solutions
      </a>
     </nb-layout-header>
    <nb-layout-column>
      
      </nb-layout-column>
    <nb-layout-column>
      
    </nb-layout-column>
    <nb-layout-footer>Courteville Business Solutions {{year}} &copy;</nb-layout-footer>
  </nb-layout> -->  
  <div class="login-content" style="background-image: url('./../../../assets/images/largeback.jpg')">
      <router-outlet></router-outlet>
  </div>
  