<div *mobxAutorun class="container">
    <div class="row">        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list mg-t-30" style="border: 1px solid black; width: 100%;">
            <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                <li><a data-toggle="tab"><i class="notika-icon notika-bar-chart"></i> Submitted: &nbsp;76</a>
                </li>
                <li><a data-toggle="tab"><i class="notika-icon notika-bar-chart"></i>Processing: &nbsp;45</a>
                </li> 
                <li><a data-toggle="tab"><i class="notika-icon notika-bar-chart"></i>Issue: &nbsp;56</a>
                </li> 
                <li><a data-toggle="tab"><i class="notika-icon notika-bar-chart"></i>Rejected: &nbsp;34</a>
                </li> 
                <li><a data-toggle="tab"><i class="notika-icon notika-bar-chart"></i>Completed: &nbsp;32</a>
                </li> 
                <li><a data-toggle="tab"><i class="notika-icon notika-bar-chart"></i>Returned: &nbsp;20</a>
                </li> 
                <!-- <li><a data-toggle="tab" [routerLink]="['/operations/checkout-jobs']"><i class="notika-icon notika-bar-chart"></i>Submitted 34</a>
                </li>-->
            </ul>
            </div>
        </div>
        </div>
    </div>